# COLORS
export LS_COLORS='rs=0:di=01;34:ln=01;36:mh=00:pi=40;33'
export CLICOLOR=1

# SYMFONY
alias sfapp='php app/console'

sf-clear-cache() {
    sfapp cache:clear --env=dev  -v
    sfapp cache:clear --env=prod -v
}

sf-schema-dump() {
     sfapp doctrine:schema:update --dump-sql
}

sf-schema-force() {
     sfapp doctrine:schema:update --force
}

sf-fixtures() {
    sfapp doctrine:fixtures:load --append
}

sf-assets() {
	sfapp assets:install --symlink -v
}

# OTHERS
alias ll='ls -alGFh --color=always'

cd /var/www/html