# COLORS
export LS_COLORS='rs=0:di=01;34:ln=01;36:mh=00:pi=40;33'
export CLICOLOR=1

# SYMFONY
alias sfbin='php bin/console'

sf-clear-cache() {
    sfbin cache:clear --env=dev  -v
    sfbin cache:clear --env=prod -v
}

sf-schema-dump() {
     sfbin doctrine:schema:update --dump-sql
}

sf-schema-force() {
     sfbin doctrine:schema:update --force
}

sf-fixtures() {
    sfbin doctrine:fixtures:load --append
}

sf-assets() {
	sfbin assets:install --symlink -v
}

# OTHERS
alias ll='ls -alGFh --color=always'

eval $(ssh-agent) && ssh-add

cd /var/www/html