# COLORS
export LS_COLORS='rs=0:di=01;34:ln=01;36:mh=00:pi=40;33'
export CLICOLOR=1

# SYMFONY
alias sfapp='php app/console'
alias sfbin='php bin/console'
alias schema-dump='doctrine:schema:update --dump-sql'
alias schema-force='doctrine:schema:update --force'
alias assets-install='assets:install --symlink'

# DOCKER
docker-go() {
    docker exec -it "$(basename $PWD)_$1_1" /bin/bash
}
docker-logs() {
    docker-compose logs $1
}
docker-rebuild() {
    echo -------------------------------------------------- docker-compose build --------------------------------------------------
    docker-compose build $1
    echo -------------------------------------------------- docker-compose up -d --------------------------------------------------
    docker-compose up -d $1
    echo -------------------------------------------------- docker-compose ps -----------------------------------------------------
    docker-compose ps
}
docker-start() {
    docker-compose start $1
}
docker-stop() {
    docker-compose stop $1
}

# OTHERS
alias ll='ls -alGFh --color=always'
alias goenvironment='cd ~/environment'

gosites() {
    cd ~/www/$1
}

cd /var/www/html