[core]
always_populate_raw_post_data = -1
max_execution_time = 3600
memory_limit = "2G"
sendmail_path = "/usr/sbin/ssmtp -t"
short_open_tag = 0
SMTP = "maildev"
smtp_port = 25
upload_max_filesize = "100M"

[date]
date.timezone = "Europe/Paris"

[session]
session.auto_start = 0

[opcache]
opcache.enable_cli = 1
opcache.enable_file_override = 1
opcache.error_log = "/var/log/apache2/opcache.log"
opcache.fast_shutdown = 0
opcache.force_restart_timeout = 600
opcache.interned_strings_buffer = 32
opcache.load_comments = 1
opcache.log_verbosity_level = 4
opcache.max_accelerated_files = 32531
opcache.memory_consumption = 256
opcache.save_comments = 1
opcache.revalidate_freq = 0
;opcache.revalidate_freq = 3600
opcache.validate_timestamps = 1

[xdebug]
xdebug.show_exception_trace = off
xdebug.scream = off
xdebug.idekey = PHPSTORM
xdebug.default_enable = 0
xdebug.remote_enable = 1
xdebug.remote_autostart = 0
xdebug.remote_connect_back = 0
xdebug.profiler_enable = 0
xdebug.remote_port = 9001
xdebug.max_nesting_level = 700
;xdebug.remote_host =
